<div class="page-header">
</div>
<nav class="navbar navbar-btn">
    <div class="container-fluid">
        Not today, 2015
        <div class="pull-right">
            <ul class="list-inline">
                <li>
                    <a href="mailto:vlasovi.ilya@gmail.com">vlasovi.ilya@gmail.com</a>
                </li>
                <li>
                    <a href="https://github.com/vlas-github/notToday" target="_blank">github</a>
                </li>
                <li>
                    <a ng-href="#/about">API</a>
                </li>
            </ul>
        </div>
    </div>
</nav>