<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <mapping class="beans.Task"/>
        <mapping class="beans.UserAuthority"/>
        <mapping class="beans.User"/>
        <mapping class="beans.UserAuthorityCatalog"/>
        <mapping class="beans.RepeatCatalog"/>
        <mapping class="beans.News"/>
        <mapping class="beans.NewsTypeCatalog"/>
    </session-factory>
</hibernate-configuration>