<div class="header" ng-include src="'content/templates/top.html'"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{'profile.edit' | i18n}}</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'profile.name' | i18n}}</label>
                <div class="col-sm-10">
                    <input class="form-control" id="inputEmail3" ng-model="user.fio" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">{{'profile.locality' | i18n}}</label>
                <div class="col-sm-10">
                    <select select2 ng-model="user.locality" class="form-control" placeholder="Locality">
                        <option value="ru">
                            ru
                        </option>
                        <option value="en">
                            en
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> {{'profile.subscribe' | i18n}}
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="panel-footer">
        <span class="btn-group pull-right">
            <a ng-click="saveProfile()" type="button" class="btn btn-success">{{'profile.save' | i18n}}</a>
            <a ng-href="#/account" type="button" class="btn btn-default">{{'close' | i18n}}</a>
        </span>
        <div class="clearfix"></div>
    </div>
</div>