<div class="header" ng-include src="'content/templates/top.html'"></div>
<div class="panel panel-default">
    <div class="panel-heading">
        <ul class="nav nav-pills" role="tablist">
            <li ng-class="{active: showNewTask}">
                <a href="" ng-click="showNew()">
                    {{'tasks.all' | i18n}}<span class="badge">{{newTasks.length}}</span>
                </a>
            </li>
            <li ng-class="{active: showCompletedTask}">
                <a href="" ng-click="showCompleted()">
                    {{'tasks.completed' | i18n}}<span class="badge">{{completedTasks.length}}</span>
                </a>
            </li>
            <li ng-class="{active: showDeletedTask}">
                <a href="" ng-click="showDeleted()">
                    {{'tasks.deleted' | i18n}}<span class="badge">{{deletedTasks.length}}</span>
                </a>
            </li>
            <li class="pull-right">
                <a href="" class="btn btn-default" ng-click="showAddTaskModal()">
                    {{'task.add' | i18n}}
                </a>
            </li>
        </ul>
    </div>
    <div class="panel-body">
        <div class="list-group">
            <div class="input-group col-xs-12">
                <div class="input-group">
                    <div class="input-group-addon">{{'task.add.fast' | i18n}}</div>
                    <input type="text" ng-keyup="$event.keyCode == 13 ? addTask() : null" ng-model="_task.text" class="form-control"
                           placeholder="{{'task.add.fast.text' | i18n}}">
                    <span class="input-group-btn">
                        <button type="submit" ng-click="addTask()" class="btn btn-primary">{{'task.add.fast.button.text' | i18n}}</button>
                    </span>
                </div>
            </div>
        </div>
        <div ng-if="newTasks.length > 0 && showNewTask" class="list-group">
            <h4>{{'tasks.new' | i18n}}:</h4>
            <a class="list-group-item" value="{{t}}" ng-click="showShowTaskModal(t)"
               ng-repeat="t in newTasks | orderBy:'text'">
                <div>
                    <div class="text-hide">{{t.uuid}}</div>
                    <strong>{{t.text}}</strong>
                    <i class="glyphicon glyphicon-remove pull-right" style="cursor: pointer" ng-click="deleteTask(t, true);$event.stopPropagation()"></i>
                    <span class="pull-right">&nbsp;&nbsp;</span>
                    <i class="glyphicon glyphicon-edit pull-right" style="cursor: pointer" ng-click="showEditTaskModal(t);$event.stopPropagation()"></i>
                    <span class="pull-right">&nbsp;&nbsp;</span>
                    <i class="glyphicon glyphicon-ok pull-right" style="cursor: pointer" ng-click="completeTask(t);$event.stopPropagation()"></i>
                    <br/>
                    {{t.description}}
                </div>
            </a>
        </div>
        <div ng-if="completedTasks.length > 0 && showCompletedTask" class="list-group">
            <h5>{{'tasks.completed' | i18n}}:</h5>
            <a class="list-group-item list-group-item-warning" ng-click="showShowTaskModal(t)" value="{{t}}"
               ng-repeat="t in completedTasks | orderBy:'text'">
                <div>
                    <div class="text-hide">{{t.uuid}}</div>
                    <strong>{{t.text}}</strong>
                    <i class="glyphicon glyphicon-edit pull-right" style="cursor: pointer" ng-click="showEditTaskModal(t);$event.stopPropagation()"></i>
                    <span class="pull-right">&nbsp;&nbsp;</span>
                    <i class="glyphicon glyphicon-ok pull-right" style="cursor: pointer" ng-click="deleteTask(t);$event.stopPropagation()"></i>
                    <br/>
                    {{t.description}}
                </div>
            </a>
        </div>
        <div ng-if="deletedTasks.length > 0 && showDeletedTask" class="list-group">
            <h5>{{'tasks.deleted' | i18n}}:</h5>
            <a class="list-group-item list-group-item-danger" ng-click="showShowTaskModal(t)" value="{{t}}"
               ng-repeat="t in deletedTasks | orderBy:'text'">
                <div>
                    <div class="text-hide">{{t.uuid}}</div>
                    <strong>{{t.text}}</strong>
                    <i class="glyphicon glyphicon-edit pull-right" style="cursor: pointer" ng-click="showEditTaskModal(t);$event.stopPropagation()"></i>
                    <br/>
                    {{t.description}}
                </div>
            </a>
        </div>
    </div>
</div>

<div modal="addTaskModal" class="modal fade" aria-hidden="false" aria-labelledby="modal-label" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
    <form name="addTaskForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="_task = {}" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{'task.add' | i18n}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-class="{'has-error': validateTaskError}">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.title' | i18n}}<span class="has-error">*</span></strong>
                </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="_task.text" class="form-control"
                           ng-change="validate()"
                           placeholder="{{'task.placeholder.title' | i18n}}">
                    <span class="help-inline" ng-if="validateTaskError">
                        {{'field.is.required' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.description' | i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="_task.description" class="form-control"
                           placeholder="{{'task.placeholder.description' | i18n}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.date' |i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy"
                               placeholder="{{task.date}}" ng-model="_task.executionDate" is-open="opened"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn form-control btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.time' | i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <label class="control-label">
                            <input type="checkbox" ng-model="_setTime"
                                   ng-change="setTime()"> {{'task.set.time' | i18n}}
                        </label>
                        <timepicker ng-if="_setTime" ng-model="_task.executionTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.repeat' | i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <select select2 ng-model="_task.repeat"
                            data-placeholder="{{'task.repeat' | i18n}}"
                            class="form-control">
                        <option></option>
                        <option ng-repeat="repeat in repeats" value="{{repeat.name}}">
                            {{repeat.localizationCode | i18n}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                </label>
                <div class="col-sm-10">
                    <label>
                        <input type="checkbox" ng-model="_task.completed"> {{'task.completed' | i18n}}
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="validate() && addTask()">
                {{'save' | i18n}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="validate() && addTask(true)">
                {{'save.and.continue' | i18n}}
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="_task = {}">
                {{'close' |i18n}}
            </button>
        </div>
    </form>
</div>
</div>
</div>


<div modal="editTaskModal" class="modal fade" aria-hidden="false" aria-labelledby="modal-label" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
    <form name="editTaskForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click="_task = {}" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{'task.edit' | i18n}}</h4>
        </div>
        <div class="modal-body">
            <div class="form-group" ng-class="{'has-error': validateTaskError}">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.title' | i18n}}<span class="has-error">*</span></strong>
                </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="_task.text" class="form-control"
                           ng-change="validate()"
                           placeholder="{{'task.placeholder.title' | i18n}}">
                    <span class="help-inline" ng-if="validateTaskError">
                        {{'field.is.required' | i18n}}
                    </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.description' | i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <input type="text" ng-model="_task.description" class="form-control"
                           placeholder="{{'task.placeholder.description' | i18n}}">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.date' | i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd.MM.yyyy"
                               placeholder="{{task.date}}" ng-model="_task.executionDate" is-open="opened"
                               datepicker-options="dateOptions" ng-required="true" close-text="Close" />
                        <span class="input-group-btn">
                            <button type="button" class="btn form-control btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.time' | i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <p class="input-group">
                        <label class="control-label">
                            <input type="checkbox" ng-model="_setTime"
                                   ng-change="setTime()"> {{'task.set.time' | i18n}}
                        </label>
                        <timepicker ng-if="_setTime" ng-model="_task.executionTime" hour-step="1" minute-step="1" show-meridian="false"></timepicker>
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                    <strong>{{'task.repeat' | i18n}}</strong>
                </label>
                <div class="col-sm-10">
                    <select select2 ng-model="_task.repeat"
                            data-placeholder="{{'task.repeat' | i18n}}"
                            class="form-control">
                        <option></option>
                        <option ng-repeat="repeat in repeats" value="{{repeat.name}}">
                            {{repeat.localizationCode | i18n}}
                        </option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                </label>
                <div class="col-sm-10">
                    <label>
                        <input type="checkbox" ng-model="_task.completed"> {{'task.completed' | i18n}}
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">
                </label>
                <div class="col-sm-10">
                    <label>
                        <input type="checkbox" ng-model="_task.deleted"> {{'task.deleted' | i18n}}
                    </label>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="validate() && editTask()">
                {{'save' | i18n}}
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="_task = {}">
                {{'close' | i18n}}
            </button>
        </div>
    </form>
</div>
</div>
</div>

<div modal="showTaskModal" class="modal fade" aria-hidden="false" aria-labelledby="modal-label" role="dialog">
<div class="modal-dialog">
<div class="modal-content">
    <form name="showTaskForm" class="form-horizontal">
        <div class="modal-header">
            <button type="button" class="close" ng-click="_task = {}" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">{{'task.show' | i18n}}</h4>
        </div>
        <div class="modal-body">
            <table class="table table-hover table-bordered">
                <tbody>
                <tr>
                    <td>{{'task.title' | i18n}}</td>
                    <td>{{_task.text}}</td>
                </tr>
                <tr>
                    <td>{{'task.description' | i18n}}</td>
                    <td>{{_task.description}}</td>
                </tr>
                <tr>
                    <td>{{'task.date' | i18n}}</td>
                    <td>{{_task.executionDate}}</td>
                </tr>
                <tr>
                    <td>{{'task.repeat' | i18n}}</td>
                    <td>{{_task.repeat.localizationCode | i18n}}</td>
                </tr>
                <tr>
                    <td>{{'task.completed' | i18n}}</td>
                    <td>{{_task.completed}}</td>
                </tr>
                <tr>
                    <td>{{'task.deleted' | i18n}}</td>
                    <td>{{_task.deleted}}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" ng-click="showEditTaskModal(_task)" data-dismiss="modal">
                {{'task.edit' | i18n}}
            </button>
            <button type="button" ng-if="!_task.completed && !_task.deleted" class="btn btn-primary" ng-click="completeTask(_task)" data-dismiss="modal">
                {{'task.complete' | i18n}}
            </button>
            <button type="button" ng-if="!_task.deleted" class="btn btn-danger" ng-click="deleteTask(_task, true)" data-dismiss="modal">
                {{'task.delete' | i18n}}
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="_task = {}">
                {{'close' | i18n}}
            </button>
        </div>
    </form>
</div>
</div>
</div>